@use "../../tsjippy-shared-functionality/css/scss/global" as *;

.account-switcher,
.account-switcher:hover {
  padding: 3px;
  font-weight: 600;
  border-radius: 7%;
  background-color: #fff;
  color: #515151;
  font-size: 14px;
  line-height: 40px;
}

.account-switcher:hover {
  text-decoration: underline;
  text-decoration-color: currentcolor;
  -webkit-text-decoration-color: $primaryColor;
  text-decoration-color: $primaryColor;
}
